@model PeopleGetter.Models.Roupas

@{
    ViewData["Title"] = "Details";
}

<div style="display:flex">
    <h1>Detalhes</h1>
    <img src="~/lupa.png" height="50px" style="margin-left: 15px"></img>
</div>

<div>
    <h4>Roupas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tamanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tamanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="text-decoration:none; color:white; background-color:cornflowerblue; border-radius:10%; padding: 8px">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
    <img src="~/voltar.png" height="15px"></img>
</div>
